<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/webjobs</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL55Dialect</property>

        <!-- Update the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>

        <!-- Show the queries prepared by Hibernate -->
        <property name="show_sql">true</property>

        <!-- Names the annotated entity classes -->
        <mapping class="com.web.jobs.dao.Employee"/>
        <mapping class="com.web.jobs.dao.History"/>
        <mapping class="com.web.jobs.dao.Job"/>
        <mapping class="com.web.jobs.dao.Person"/>
        <mapping class="com.web.jobs.dao.Rating"/>
        <mapping class="com.web.jobs.dao.User"/>

    </session-factory>
</hibernate-configuration>