<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/webjobs</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL55Dialect</property>

        <!-- Update the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Show the queries prepared by Hibernate -->
        <property name="show_sql">true</property>

        <!-- Names the annotated entity classes -->
        <mapping class="com.web.jobs.persistence.dto.EmployeeDTO"/>
        <mapping class="com.web.jobs.persistence.dto.HistoryDTO"/>
        <mapping class="com.web.jobs.persistence.dto.JobDTO"/>
        <mapping class="com.web.jobs.persistence.dto.PersonDTO"/>
        <mapping class="com.web.jobs.persistence.dto.RatingDTO"/>
        <mapping class="com.web.jobs.persistence.dto.UserDTO"/>

    </session-factory>
</hibernate-configuration>