<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/webjobs</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL55Dialect</property>

        <!-- Update the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Show the queries prepared by Hibernate -->
        <property name="show_sql">true</property>

        <!-- Names the annotated Entity classes -->
        <mapping class="com.web.jobs.persistence.entity.EmployeeEntity"/>
        <mapping class="com.web.jobs.persistence.entity.HistoryEntity"/>
        <mapping class="com.web.jobs.persistence.entity.JobEntity"/>
        <mapping class="com.web.jobs.persistence.entity.PersonEntity"/>
        <mapping class="com.web.jobs.persistence.entity.RatingEntity"/>
        <mapping class="com.web.jobs.persistence.entity.UserEntity"/>

    </session-factory>
</hibernate-configuration>