<div class="row justify-content-center">
    <form class="col-md-6" method="post" ng-submit="addUser()">
        <div class="form-group">
            <label for="inputNume">Nume: </label>
            <input type="text" class="form-control" id="inputNume" placeholder="ex: Popescu"  name="name" ng-model="name" >
        </div>

        <div class="form-group">
            <label for="inputPrenume">Prenume: </label>
            <input type="text" class="form-control"  id="inputPrenume" placeholder="ex: Andrei"  name="surname" ng-model="surname">
        </div>
        <div class="form-group">
            <label for="inputUser">Nume utilizator: </label>
            <input type="text" class="form-control" id="inputUser" placeholder="Numele pe care il vor vedea ceilalti utilizatori" ng-model="username">
        </div>
        <div class="form-group">
            <label for="inputPhone">Numar de telefon: </label>
            <input type="tel" class="form-control" id="inputPhone" placeholder="ex: 07xx xxx xxx" ng-model="phone" >
        </div>
        <div class="form-group">
            <label for="inputEmail">Email: </label>
            <input type="email" class="form-control" id="inputEmail" placeholder="nume@exemplu.com" ng-model="email">
        </div>

        <div class="form-group">
            <label for="inputAccountType">Tipul contului: </label>
            <select name="accType"  class="form-control" id="inputAccountType" ng-model="isEmployee">
                <option value="-" selected>Selecteaza tipul contului</option>
                <option value="Angajat">Vreau sa fiu angajat</option>
                <option value="Angajator">Vreau sa angajez</option>
            </select>
        </div>

        <div class="form-group">
            <div style="padding-left:110px">
                <input type="submit" value="Cont nou!" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>