<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>WebJobs</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />

        <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>
    </head>
    
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">deMuncă.ro</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Acasă<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Joburi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profil</a>
                    </li>
                </ul>
            </div>
        </nav>
    
        <main role="main">
    
            <div class="section section-main">
                <div class="container">
                    <div class="row">
                        <div class="main-content">
                            <h1 class="main-content-title">
                                <span class="text-theme">Acum iți poți alege un client pe măsura ta!</span> Crează-ți propriul anunț.
                            </h1>
                            <p class="main-content-subtitle">
                                <span class="text-theme">25</span> de micro joburi noi în ultimele <span class="text-theme">3</span> luni. Caută-ți persoana care te poate ajuta!
                            </p>
                        </div>
                    </div>
                </div>
    
            </div>
    
            <div class="section section-about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">Cine suntem?</h2>
                            <h5 class="description">Echipa noastră dorește să dezvolte platforma "deMuncă.ro" pentru a oferi posibilitatea fiecărei persoane capabilă de un micro job, să își găsească clienții ce sunt în căutarea rezolvării unei probleme.</h5>
                            <br/>
                            <h5 class="description">Dacă ești priceput într-un anumit domeniu, de exemplu, ești un croitor foarte bun, un instalator sau îți place să ai grijă de integritatea instrumentelor muzicale sau dorința ta este de a recondiționa cât mai multe imobile sau obiecte de mobilier, <b>atunci</b>, te rugăm să îți adaugi propriul anunț iar noi ne vom ocupa să întâlnești cei mai buni clienți!</h5>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="section section-team-members text-center">
                <div class="container">
    
                    <div class="team">
                        <h2 class="title">Echipa noastră</h2>
    
                        <div class="team-members">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="team-player">
                                        <img class="rounded-circle" src="/images/profiles/filip_profile.jpg" width="140" height="140" />
                                        <h4 class="title">Lucian Filip</h4>
                                        <p class="category text-primary">Software developer</p>
                                        <p class="description">Descriere</p>
                                        <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                        <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                                        <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                                    </div>
                                </div><!-- /.col-lg-4 -->
    
                                <div class="col-lg-4">
                                    <div class="team-player">
                                        <img class="rounded-circle" src="/images/profiles/georgiana_profile.jpg" width="140" height="140" />
                                        <h4 class="title">Georgiana Matache</h4>
                                        <p class="category text-primary">Project manager</p>
                                        <p class="description">Descriere</p>
                                        <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                        <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                                        <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                                    </div>
                                </div><!-- /.col-lg-4 -->
    
                                <div class="col-lg-4">
                                    <div class="team-player">
                                        <img class="rounded-circle" src="/images/profiles/puiu_profile.jpg" width="140" height="140" />
                                        <h4 class="title">Razvan Puiu</h4>
                                        <p class="category text-primary">Software developer</p>
                                        <p class="description">Descriere</p>
                                        <a href="#" class="btn btn-primary btn-round"><i class="fab fa-twitter"></i></a>
                                        <a href="#" class="btn btn-primary btn-round"><i class="fab fa-instagram"></i></a>
                                        <a href="#" class="btn btn-primary btn-round"><i class="fab fa-facebook-square"></i></a>
                                    </div>
                                </div><!-- /.col-lg-4 -->
                            </div><!-- /.row -->
                        </div><!-- /.team-members -->
                    </div><!-- /.container -->
                </div>
            </div>
    
            <div class="section section-contact-us text-center">
                <div class="container">
    
                    <div class="contact">
                        <h2 class="title">Vrei sa afli mai multe?</h2>
                        <p class="description">Abonează-te pentru mai multe detalii!</p>
    
                        <div class="contact-form">
                            <div class="row">
                                <div class="col-lg-6 col-md-8 ml-auto mr-auto">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nume" aria-label="Name" aria-describedby="basic-addon1" />
                                    </div>
    
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2"><i class="fas fa-at"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2" />
                                    </div>
    
                                    <div class="send-button">
                                        <button type="button" class="btn btn-primary">Abonare</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="section section-copyright text-center">
                <div class="container">
                    <div class="row">
                        <!--<p>&copy; Company 2017-2018</p>-->
                    </div>
                </div>
            </div>
        </main>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </body>
</html>